.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    margin: 20px auto 0 auto;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 50px;

}

td,
th {
    padding: 3px;
    border: 1px solid black;
    width: 290px;
    height: 50px;
}


th {
    cursor: pointer;
    border-bottom: none;
    background: #00bcd5;
    width: 290px;
    height: 50px;
    color: #000;
    text-transform: uppercase;
}

td {
    color: #000;
}